.nav {
    align-items: center;
    background: #187795;
    flex-direction: row;
    font-size: 22px;  
    height: 30px;
    padding: 0.5rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    width: 100%;
}
.conteiner {
    align-items: center;
    color:#e8e9ee;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic; 
    font-weight: bold;
    justify-content: space-evenly;
}
.conteiner a {
    text-decoration: none;
}