.pagination {
    background-color: #0a84b4;
    border: 1px solid black;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-around;
    list-style: none;
}

.number {
    background-color: #0a84b4;
}