.pagination {
    background-color: #034748;
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}

.number {
    background-color: #034748;
}